<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Idézet</title>
</head>
<body>
    <ul>
    <% message.forEach(element => { %>
        <li><%= element.quote %> - <%= element.author%></li>
    <% }); %>
    </ul>
</body>
</html>