<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top</title>
</head>
<body>
    <ul>
        <% message3.forEach(item => { %>
          <li><%= item.author %> - <%= item.count %></li>
        <% }); %>
      </ul>
</body>
</html>